.App {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-bottom: 1em;
    align-items: center;
    justify-content: center;
}

.Area {
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.BorderArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
    border: 4px solid #dedede;
    border-radius: 4px;
}

.tabClose {
    border: 1px solid #dedede;
    border-right: none;
    background-color: #d4dfe6;
    cursor: pointer;
    line-height: 1.5em;
}

.body {
    flex-grow: 1;
    overflow-y: auto;
}
