.AppHeader {
    display: flex;
    justify-content: flex-start;
    padding: 1.25em 0;
    font-size: 12px;
    width: 100%;
}

.AppHeader button:enabled {
    cursor: pointer;
}

.ButtonSet {
    margin-right: 0.5em;
}

AppHeaderSet:last-child {
    margin-right: 0;
}

.PopupContent {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1.25em 0;
    font-size: 8px;
    width: auto;
}

.spinner {
    display: block;
    height: 1em;
    width: 1em;
}
