.text {
    height: 100%;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #dedede;
    border-top: none;
    background-color: #f9ffff;
}

.text h1 {
    margin: 1em;
    color: rgb(214, 122, 127);
}
