.resizeable {
    width: 100%;
    min-width: 0;
    height: 100%;
    min-height: 0;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-bottom: 1em;
}

.resizeableAreaRow {
    composes: resizeable;
    display: grid;
    grid-template-rows: 1fr 12px 1fr;
}

.resizeableAreaColumn {
    composes: resizeable;
    display: grid;
    grid-template-columns: 1fr 12px 1fr;
}

.resizeableHiddenAreaRow {
    composes: resizeable;
    display: grid;
    grid-template-rows: 1fr auto;
}

.resizeableHiddenAreaColumn {
    composes: resizeable;
    display: grid;
    grid-template-columns: 1fr auto;
}

.splitRowsGutter {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: row-resize;
    color: #fff;
}

.splitRowsGutterHandle {
    pointer-events: none;
    transform: rotate(90deg);
}

.splitColumnsGutter {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: col-resize;
    color: #fff;
}
